.brand {
  color: #000000;
}

.bg-brand {
  background-color: #30c2c2;
}

.b--brand {
  border-color: #330776;
}

.bg-gradient {
  background: radial-gradient(#381a1a00, #010213);
}

.scrollbar-white,
.scrollbar-near-black {
  scrollbar-width: thin;
}

.scrollbar-white {
  scrollbar-color: #fff transparent;
}

.scrollbar-near-black {
  scrollbar-color: #111 transparent;
}
